.projects-flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.project-box{
	margin: 5%;
}

.flex-image {
	width: 350px;
 	max-width: 100%; 
 	max-height: 350px;
	float: top;
 }

 #movie-image{
 	margin-left: 12%;
 }

.project-name{
	text-align: center;
	font-size: 300%;
}

.project-link{
	text-align: center;
	font-size: 150%;
}

#prog-wrapper .prog-pic{
    width:100%;
}

.logo{
	width: auto;
    height: auto;
    max-width: 100%;
	float: left;
}

.name{
	text-align:right;
	font-size: 500%;
	font-family: Anton;
}

.description{
	text-align:right;
	font-size: 400%;
	font-family: Indie Flower;
}

.featured{
	text-align: center;
	font-size: 700%;
	font-family: monospace;
}

body {
    background-color: lightblue;
}

hr{
	background-color:gray;
	height: 3px;
}

@media only screen and (max-width: 450px) {
    .logo {
    	float: none;
        display: block;
    	margin: 0 auto;
    }
}

@media only screen and (max-width: 440px) {
    .featured {
    	font-size: 500%;
    }
}

@media only screen and (max-width: 396px) {
    .name{
    	text-align: center;
    }
}